.cartPage{
	min-width: 100%;
	height: 1000px;

	border: 2px solid blue;
	border-radius: 10px;
	padding: 20xp;
	.createCart{
		display: flex;
		.formsBlock{
			margin-top: 20px;
			margin-left: 20px;
			width: 400px;
			height: 700px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 150px 0px;
			border: 2px solid blue;
			border-radius: 10px;
			.form{
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 0 auto;
				input{
					margin-top: 15px;
					height: 30px;
					padding: 10px;
				}
			}
		}
		.cartBlock{
			margin-top: 20px;
			margin-right: 20px;
		position: relative;
			margin-left: 30px;
			height: 700px;
			width: 1000px;
			border: 2px solid blue;
			border-radius: 10px;
			padding: 30px;
			.cartItems{
				overflow: scroll;
				width: 100%;
				height: 100%;
				border: 2px solid blue;
				border-radius: 10px;
				padding: 20px;
				.itemCart{
					position: relative;
					margin-top: 20px;
					display: flex;
					width: 100%;
					height: 300px;
					border: 2px solid blue;
					border-radius: 10px;
					padding: 15px;
					.itemCart-img{
						margin-right: 20px;
						width: 350px;
						height: 100%;
						border: 2px solid blue;
						border-radius: 10px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					.itemCart-info{
						margin: 0 auto;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
						padding: 30px 0;
					}
					.itemCart-countBtn{
						cursor: pointer;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						margin: 0 20px;
						border: solid 1px black;
						color: aliceblue;
						background: black;
						width: 25px;
						height: 25px;
						
						border-radius: 50%;
					}
				}
			}
		}
	}
	.submitBlock{
		display: flex;
		
		height: 200px;
		align-items: center;
		justify-content: end;
		border: 2px solid blue;
		border-radius: 10px;
		margin: 40px 20px;
		padding:  0 100px;
		.SubmitBtn{
			cursor:pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100px;
			height: 40px;
			border: 2px solid black;
		border-radius: 10px;
		margin-left: 80px;
		}
	}


	
}




.removeCart {
	text-decoration: underline;
	margin-bottom:10px;
	cursor: pointer;
position: absolute;
right: 15px;
font-size: 20px;
}
.removeCart.removeProduct {
	
	cursor: pointer;
position: absolute;
right: 10px;
top: 1px;
font-size: 20px;
}