@import './variables.scss';
@import './libs/normalize.scss';
@import './components/all.scss';

body {
  background-color: #fff;
}

.wrapper {
  width: calc(100vw - 100px);
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  border-radius: 3px;
  max-width: 1920px;
  padding: 30px;
}

.shopsPage{
  display: flex;
}